<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="/" />
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css" />
    <link rel="stylesheet" href="app.css" />
    <link rel="stylesheet" href="MiniLIS.Web.styles.css" />
    <link rel="icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
    <HeadOutlet />
</head>

<body>
    <Routes @rendermode="InteractiveServer" />
    <iframe id="downloadFrame" style="display:none;"></iframe>
    <script src="_framework/blazor.web.js"></script>
    <script>
        window.triggerDownload = (url) => {
            window.location.assign(url);
        }

        window.downloadFileFromBase64 = (fileName, base64, contentType) => {
            try {
                const byteCharacters = atob(base64);
                const byteNumbers = new Array(byteCharacters.length);
                for (let i = 0; i < byteCharacters.length; i++) {
                    byteNumbers[i] = byteCharacters.charCodeAt(i);
                }
                const byteArray = new Uint8Array(byteNumbers);
                const blob = new Blob([byteArray], { type: contentType });
                const url = URL.createObjectURL(blob);
                const anchorElement = document.createElement('a');
                anchorElement.href = url;
                anchorElement.download = fileName || 'documento';
                anchorElement.style.display = 'none';
                document.body.appendChild(anchorElement);
                anchorElement.click();
                document.body.removeChild(anchorElement);
                URL.revokeObjectURL(url);
            } catch (err) {
                console.error("Download Base64 Error: ", err);
                alert("Ocurrió un error al forzar la descarga del documento.");
            }
        }
    </script>
</body>

</html>
